<%- include('../partials/header') %>

  <div class="container1">
    <div class="info">
        <h2>ประวัติผู้พัฒนา</h2>
        <p>รหัสนักศึกษา: 6611425024</p>
        <p>ชื่อ: Duangjai</p>
        <p>นามสกุล: Noosong</p>
        <p>สาขาวิชา: วิทยาการคอมพิวเตอร์</p>
        <p>เบอร์โทร: 042-324-7521</p>
    </div>
    <div class="photo">
        <img src="/images/developer.jpg" alt="ผู้พัฒนา" class="avatar" />
    </div>
</div>

<%- include('../partials/footer') %>
